
/**
 * @file
 * Sample CSS file for Chatter Box module.
 */

/*Sample CSS for Chatter Box module*/

#chatter {
margin:0 15px 0 0;
width: 100%;
}

#chatter h2 {
display:none;
}

#chatter #chatter-link {
font-size:11px;
font-weight:700;
}

#chatter #chatter-link a {
color:#323232;
padding:0;

}

#chatter form {
float:left;
margin:0;
padding:0;
width: 100%;
}

#chatter #edit-comment {
height:18px;
font-size:9px;
margin:0;
width: 95%;
}

#chatter .form-submit {
background-color:#027ac6;
border:0;
color:#fff;
cursor:pointer;
margin:0 0 10px;
float:left;
}

#chatter ul {
float:left;
width:100%;
margin:0;
padding:0;
}

#chatter li {
border-bottom:1px solid #e2e2e2;
clear:both;
font-size:11px;
line-height:15px;
width:100%;
list-style-type:none;
background-image:none;
color:blue;
margin: 0 0 10px 0;
padding: 0 0 5px 0;
}

#chatter li a {
color:#027ac6;
}

#chatter div.error {
border: 0;
background: none;
}

#chatter div.error li {
color: red;
border: none;
}

#chatter fieldset.captcha {
clear:both;
}